<div id="container" class="container_12">
	<div id="breadcrumbs" class="grid_12">home > products > cabling > security > infoguard > ethernet wan > frame crypto</div>
	<div class="clear">&nbsp</div>
	
	<div id="twitter" class="grid_9"> &nbsp </div>	
	<div id="twitter" class="grid_1 social">
		twitter 
	</div>
	<div id="facebook" class="grid_1 social">
		facebook
	</div>
	<div id="rss" class="grid_1 social">
		RSS
	</div>
	<div class="clear">&nbsp</div>
	
	<div id="navigation" class="grid_10">
		Home   Partners   Prodotti   Azienda   Contatti   Downolad
	</div>
	<div id="search" class="grid_2">
		search
	</div>
	<div class="clear">&nbsp</div>
	
	<div id="slide_show" class="grid_12">

	  <!--inizio slides-->
	  <div id="slidercontainer" >
	    <div id="featured" > 
	      <div class="content" style="" >
	  	  </div>
	      	<%= image_tag( "orbit_slidercontainer/img04.jpg", :id => 1, 
							:alt => "Overflow: Hidden No More", :title => "Overflow",
							:class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/img07.jpg", :id => 2, 
							:alt => "HTML Captions", :title => "HTML Captions",
							'data-caption' => "#htmlCaption", :class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/img08.jpg", :id => 3, 
							:alt => "and more features", :title => "and more features",
							'data-caption' => "#htmlCaption", :class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/overflow.jpg", :id => 4, 
							:alt => "and more features", :title => "and more features",
							:class => "") %>


			<%# image_tag( 'orbit_slidercontainer/img04.jpg', :alt => "Overflow: Hidden No More") %>
			<%# image_tag( 'orbit_slidercontainer/img07.jpg', :alt => "HTML Captions",
				'data-caption' => "#htmlCaption") %>
			<%# image_tag( 'orbit_slidercontainer/img08.jpg', :alt => "and more features") %>
			<%# image_tag( 'orbit_slidercontainer/overflow.jpg', :alt => "and more features") %>

		<%#	
	    	<img src="/assets/orbit_slidercontainer/img04.jpg" alt="Overflow: Hidden No More" >
	    	<img src="/assets/orbit_slidercontainer/img07.jpg" alt="HTML Captions" data-caption="#htmlCaption" >
	    	<img src="/assets/orbit_slidercontainer/img08.jpg" alt="and more features" >
	    	<img src="/assets/orbit_slidercontainer/overflow.jpg" alt="and more features" >
		%>

	    </div>
	  		<!-- Captions for Orbit -->
	  		<span class="orbit-caption" id="htmlCaption" ><strong>Xiotech ISE Blade Storage</strong> Greater than 12000 IOPS in 3U |  <a href="http://www.xiotech.com/" >xiotech.com</a> |<em> HtSCS</em> Authorized Dealer</span>
	  </div>
	  <!--fine slides-->

	</div>
	<div class="clear">&nbsp</div>
	
	<div id="section" class="grid_9">		
		<div id="article_1">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div id="article_2">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
	<div id="column" class="grid_3">
		<div id="column_A">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div id="column_B">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
	<div class="clear">&nbsp</div>

	<div id="footer" class="grid_12">
		<div class="grid_3">&nbsp</div>
		<div class="grid_2">
			
		</div>
		<div class="grid_2">
			
		</div>
		<div class="grid_2">
			
		</div>		
		<div class="grid_3">&nbsp</div>
		<div class="clear">&nbsp</div>
		<div>
	</div>
	<div class="clear">&nbsp</div>

</div>