// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
	background-color: yellow;
}

#breadcrumbs{
	background-color: red;
}

#navigation{
	background-color: green;
}

#search{
	background-color: orange;
}

.social{
	background-color: blue;
}

#header, #footer {
background-color: red;
}

#sub1, #sub2, #section, #column{
background-color: gray;
}

.single{
background-color: gray;
}